<div>
  <h1>live chat</h1>
  <form id="form" onsubmit="return addMsg(this)">
    <input placeholder="email" name="from" id="from" required type="text" />
    <input placeholder="text.." name="text" id="text" type="text" />
    <button>send</button>
  </form>

  <div id="chat-list"></div>
</div>