<div>
  <h1>agregar productos</h1>
  <form id="form" onsubmit="return addProd(this)">
    <input placeholder="prod-name" name="prod-name" id="prod-name" required type="text" />
    <input placeholder="description" name="description" id="description" type="text" />
    <input placeholder="price" name="price" type="number" id="price" />
    <button>send</button>
  </form>

  <div id="prod-list"></div>
</div>