<div class="container text-center mt-2 border shadow-lg p-3 mb-5 bg-body rounded">
    <h1 class="my-3">Login</h1>
    <form method="POST" onsubmit="" action="/login" id="login"> 
        <!-- title input -->
        <div class="form-outline mb-4">
            <input class="form-control" type="text" id="username" name="username" placeholder="Usuario" required/>
        </div>
        <!-- Password input -->
            <div class="form-outline mb-4">
            <input class="form-control" type="text" id="pass" name="password" placeholder="Contraseña" required/>
        </div>
        <!-- Submit -->
        <button type="submit" value="login" class="btn btn-dark btn-block mb-4">Login</button>
        <!-- Redireccionamientos a register/login -->
        <p><a href="/register">New to Our App? Create an account.</a></p>
    </form>
</div>